<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for taking interest, <%= @client.name %>!</h1>
    <p>We will get back to you as soon as possible and set your office tour.</p>
  </body>
</html>
