<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello John!</h1>
    <p>New Client has given information.</p>
    <p>Name: <%= @client.name%></p>
    <p>Email: <%= @client.email %></p>
    <p>Contact Number: <%= @client.contact_number%></p>
  </body>
</html>
