<script>
    $(document).ready(function(){
        
        var h = $(window).height();
        
        $(".side-bar").css({
            "height": h,
        });
    });
    
</script>
<script>
    $(document).ready(function(){
        
        var count = 0;
        var countTwo = 0;
        
        $("#email").click(function(){
            
            countTwo = 0;
            
            if (count < 1) {
                $("#div1").empty();
                $.ajax({
                    url: "/message",
                    cache: false,
                    success: function(html){
                    $("#div1").append(html);
                    }
                });
            };    
            
            count += 1;
        });
    
        
        $("#contents").click(function(){
            
            count = 0;
            
            if(countTwo < 1){
                $("#div1").empty();
                $.ajax({
                    url: "/content",
                    cache: false,
                    success: function(html){
                    $("#div1").append(html);
                    }
                });                
            }
            
        });
    });
    
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 side-bar">
            <div class="white" id="nav-wrapper">
                <h3>Hi John</h3>
                <ul class="admin-list">
                    <li id="email"><span class="btn-nav">Email List<span></li>
                    <li id="contents"><span class="btn-nav">Content Manage</span></li>
                </ul>
            </div>
        </div>   
        <div class="col-md-9">
            <div id="div1">
                <h1 class="text-center">Welcome Admin</h1>
            </div>    
        </div>
    </div>        
</div>    
    