<div id="sent-wrapper">
    <div class="container">
        <h1 class="text-center"><%= @content.message_confirmation %></h1>
         <iframe width="650" height="420" style="display:block; margin:auto;"
            src="https://www.youtube.com/embed/79DijItQXMM?autoplay=1">
        </iframe> 
    </div>    
</div>