<div id="sent-wrapper">
    <div class="container">
        <h1 class="text-center" id="msg-confirm">Thank you, we'll reach you in a moment.</h1>
         <iframe width="650" height="450" style="display:block; margin:auto;"
            src="https://www.youtube.com/embed/8Pbwojn6FAc?autoplay=1">
             
        </iframe> 
        <a href="/"><i class="fa fa-arrow-left fa-3x" aria-hidden="true" style="color:#efeded ;"></i></a>

       
    </div>    
</div>

<script>
    $(document).ready(function(){
        var height = $(window).height();
        $("#sent-wrapper").css({
            "height": height
        });
    });
</script>