// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Using this stylesheet to implement cleaner landing page markups

#up {
    z-index: 1;
    display: none;
    border: 5px solid black;
    color: black;
    position: fixed;
    bottom: 5%;
    left: 5%;
}

#intro {
    margin-top: 80px;
    margin-bottom: 80px;
}

.intro-icon{
    font-style: italic;
    font-size: 14px;
}

.img-intro {
   padding: 10px;
}

#visit {
    opacity: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

#features {

    color: #000000;
    font-size: 42px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 2px dashed #6b788e;
}

#sent-wrapper {
    background: image_url("bg/mandani.jpg");
    background-position: center center;
    
}

@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

#msg-confirm {
    color: #ededed;
    font-family: 'Archivo Black', sans-serif;
    margin: 40px;
}

.slide-right {
    visibility: hidden;
}


.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}