.side-bar{
    background: #000105;
}

#nav-wrapper{
    position: fixed;
}

.white {
    color: #a3a3a3;
}

.admin-list{
    list-style-type: none;
}

.admin-list>li{
    margin-top: 30px;
}

.btn-nav {
    color: #8e8e8e;
    transition: 0.5s;
}

.btn-nav:hover {
    cursor: pointer;
    color: white;
}